
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- main banner -->
<section class="banner banner-inner parallax" data-stellar-background-ratio="0.5" id="about-banner">
    <div class="banner-text">
        <div class="center-text">
            <div class="container">
                <h1>Chi tiết hoạt động</h1>
                <strong class="subtitle">Những hoạt động thú vị đem lại cho chúng ta tinh thần sảng khoái và thư giãn!</strong>
                <!-- breadcrumb -->
                <nav class="breadcrumbs">
                    <ul>
                        <li><a href="/home/index">Trang chủ</a></li>
                        <li><span>Chi tiết hoạt động</span></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- main container -->
<main id="main">
    <div class="content-intro">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-9 text-holder">
                    <h2 class="title-heading">Chi tiết hoạt động</h2>
                    <p>DƯỠNG TÂM MANG LẠI LỢI ÍCH VƯỢT NGOÀI NHỮNG GÌ BẠN ĐÃ BIẾT, TỪ VIỆC LÀM TĂNG ĐỘ DẺO DAI CỦA CƠ THỂ CHO ĐẾN VIỆC LÀM GIẢM CĂNG THẲNG – LÀ MỘT LIỀU THUỐC GIẢI ĐỘC THẦN KỲ CHO LỐI SỐNG BẬN RỘN HÀNG NGÀY CỦA ĐA SỐ CHÚNG TA.</p>
                    <div class="btn-holder">
                        <a href="#a" class="btn btn-info-sub btn-md btn-shadow radius">Tìm hiểu thêm</a>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 map-col">
                    <div class="holder">
                        <div class="map-holder">
                            <img src="~/Content/NaturalLife/img/listing/img-15.jpg" style="height: 315px;width: 230px" alt="image description">
                        </div>
                        <div class="info">
                            <div class="slot">
                                <strong>Hoạt động:</strong>
                                <span class="sub">Yoga, Spa, Đạp xe, ...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content block with boxed article -->
    <article class="content-block article-boxed" id="a">
        <div class="container">
            <header class="content-heading">
                <h2 class="main-heading">HOẠT ĐỘNG DƯỠNG TÂM</h2>
                <span class="main-subtitle">Những hoạt động khiến cơ thể bạn cảm thấy thoải mái hơn.</span>
                <div class="seperator"></div>
            </header>
            <div class="content-holder content-boxed">
                <div class="row db-3-col">
                    <article class="col-sm-6 col-md-4 article has-hover-s1">
                        <div class="thumbnail">
                            <div class="img-wrap">
                                <img src="~/Content/NaturalLife/img/listing/img-07.jpg" height="228" width="350" alt="image description">
                            </div>
                            <h3 class="small-space"><a href="/activity/detail">Hoạt động tư vấn &amp; trò chuyện</a></h3>
                            <span class="info">Tư vấn cũng như trò chuyện từ những chuyên gia khách mời</span>
                            <aside class="meta">
                                <!-- 	<span class="country">
                                        <span class="icon-world"> </span>12 Countries
                                    </span>
                                    <span class="activity">
                                        <span class="icon-acitivities"> </span>79 Activities
                                    </span> -->
                            </aside>
                            <p>TẤT CẢ CÁC HOẠT ĐỘNG ĐỀU BẮT NGUỒN TỪ MONG MUỐN ĐEM LẠI SỨC KHỎE, GIÁ TRỊ TINH THẦN VÀ HẠNH PHÚC GIA ĐÌNH !</p>
                            <a href="/activity/detail" class="btn btn-default">Khám phá</a>
                            <!-- 				<footer>
                                                <ul class="social-networks">
                                                    <li><a href="#"><span class="icon-twitter"></span></a></li>
                                                    <li><a href="#"><span class="icon-google-plus"></span></a></li>
                                                    <li><a href="#"><span class="icon-facebook"></span></a></li>
                                                    <li><a href="#"><span class="icon-linkedin"></span></a></li>
                                                </ul>
                                                <span class="price">from <span>$2749</span></span>
                                            </footer> -->
                        </div>
                    </article>
                    <article class="col-sm-6 col-md-4 article has-hover-s1">
                        <div class="thumbnail">
                            <div class="img-wrap">
                                <img src="~/Content/NaturalLife/img/listing/img-08.jpg" height="228" width="350" alt="image description">
                            </div>
                            <h3 class="small-space"><a href="/activity/detail">Hoạt dộng tham quan</a></h3>
                            <span class="info">Hoà mình vào với thiên nhiên để cảm nhận dòng chảy của tự nhiên xung quanh chúng ta</span>
                            <aside class="meta">
                                <!-- <span class="country">
                                    <span class="icon-world"> </span>12 Countries
                                </span>
                                <span class="activity">
                                    <span class="icon-acitivities"> </span>79 Activities
                                </span> -->
                            </aside>
                            <p>TẤT CẢ CÁC HOẠT ĐỘNG ĐỀU BẮT NGUỒN TỪ MONG MUỐN ĐEM LẠI SỨC KHỎE, GIÁ TRỊ TINH THẦN VÀ HẠNH PHÚC GIA ĐÌNH !</p>
                            <a href="/activity/detail" class="btn btn-default">Khám phá</a>
                            <!-- 							<footer>
                                                            <ul class="social-networks">
                                                                <li><a href="#"><span class="icon-twitter"></span></a></li>
                                                                <li><a href="#"><span class="icon-google-plus"></span></a></li>
                                                                <li><a href="#"><span class="icon-facebook"></span></a></li>
                                                                <li><a href="#"><span class="icon-linkedin"></span></a></li>
                                                            </ul>
                                                            <span class="price">from <span>$2749</span></span>
                                                        </footer> -->
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </article>
    <!-- recent block -->
</main>

