
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- main banner -->
<section class="banner banner-inner parallax" data-stellar-background-ratio="0.5" id="about-banner">
    <div class="banner-text">
        <div class="center-text">
            <div class="container hidden-md hidden-lg">
                <h1 class="text-center">Hoạt động</h1>
                <strong class="subtitle text-center">Những hoạt động thú vị đem lại cho chúng ta tinh thần sảng khoái và thư giãn!</strong>
                <!-- breadcrumb -->
                @*<nav class="breadcrumbs">
                    <ul>
                        <li><a href="/home/index">Trang chủ</a></li>
                        <li><span>Hoạt động</span></li>
                    </ul>
                </nav>*@
            </div>
        </div>
    </div>
</section>
<!-- main container -->
<main id="main">
    <!-- content block with article -->
    <div class="content-block bg-white content-center">
        <div class="container">
            <header class="content-heading">
                <h2 class="main-heading">HOẠT ĐỘNG</h2>
                <strong class="main-subtitle">TẤT CẢ CÁC HOẠT ĐỘNG ĐỀU BẮT NGUỒN TỪ MONG MUỐN ĐEM LẠI SỨC KHỎE, GIÁ TRỊ TINH THẦN VÀ HẠNH PHÚC GIA ĐÌNH !</strong>
                <div class="seperator"></div>
            </header>
            <div class="row text-center">
                <div class="col-sm-4 article">
                    <div class="ico-holder">
                        <span style="font-size: 9em" class="icon-person"></span>
                    </div>
                    <div class="description" style="margin-top: 25px;">
                        <h3><a href="/activity/detail">Hoạt động dưỡng tâm</a></h3>
                        <p style="text-transform: uppercase;">Dưỡng tâm mang lại lợi ích vượt ngoài những gì bạn đã biết, từ việc làm tăng độ dẻo dai của cơ thể cho đến việc làm giảm căng thẳng  – là một liều thuốc giải độc thần kỳ cho lối sống bận rộn hàng ngày của đa số chúng ta. </p>
                    </div>
                </div>
                <div class="col-sm-4 article">
                    <div class="ico-holder">
                        <span style="font-size: 9em" class="icon-user"></span>
                    </div>
                    <div class="description" style="margin-top: 25px;">
                        <h3><a href="/activity/detail">Hoạt động tư vấn &amp; trò chuyện</a></h3>
                        <p style="text-transform: uppercase;">Càng rời xa thiên nhiên, tâm tánh con người ngày càng trở nên hỗn loạn và xáo động. Sự hài hòa, thanh thoát của thiên nhiên sẽ giúp chúng ta xua tan những phiền não, âu lo, làm cho tâm hồn yên lắng trở lại.</p>
                    </div>
                </div>
                <div class="col-sm-4 article">
                    <div class="ico-holder">
                        <span style="font-size: 9em" class="icon-hiking"></span>
                    </div>
                    <div class="description" style="margin-top: 25px;">
                        <h3><a href="/activity/detail">Hoạt động tham quan</a></h3>
                        <p style="text-transform: uppercase;">Luôn có những điểm đến không thể bỏ qua tại Đà Lạt. Đáp ứng nhu cầu tham quan của quý khách, Natural Life Đà Lạt có chương trình tham quan thành phố với điểm đến do quý khách lựa chọn, đảm bảo sự hài lòng với lịch trình lý tưởng.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content block with article -->
    <!-- partner list -->
    <article class="partner-block bg-gray">
        <div class="container">
            <header class="content-heading">
                <h2 class="main-heading">ĐỐI TÁC</h2>
                <span class="main-subtitle">Những người luôn ủng hộ và ủng hộ công việc tốt của chúng tôi</span>
                <div class="seperator"></div>
            </header>
            <div class="partner-list" id="partner-slide">
                <div class="partner">
                    <a href="#">
                        <img width="130" src="~/Content/NaturalLife/img/logos/company1.jpg" alt="image description">
                        <img class="hover" width="130" src="img/logos/company1.jpg" alt="image description">
                    </a>
                </div>
                <div class="partner">
                    <a href="#">
                        <img width="130" src="~/Content/NaturalLife/img/logos/company2.jpg" alt="image description">
                        <img class="hover" width="130" src="img/logos/company2.jpg" alt="image description">
                    </a>
                </div>
                <div class="partner">
                    <a href="#">
                        <img width="130" src="~/Content/NaturalLife/img/logos/company3.jpg" alt="image description">
                        <img class="hover" width="130" src="img/logos/company3.jpg" alt="image description">
                    </a>
                </div>
                <div class="partner">
                    <a href="#">
                        <img width="130" src="~/Content/NaturalLife/img/logos/company4.jpg" alt="image description">
                        <img class="hover" width="130" src="img/logos/company4.jpg" alt="image description">
                    </a>
                </div>
                <div class="partner">
                    <a href="#">
                        <img width="130" src="~/Content/NaturalLife/img/logos/company5.jpg" alt="image description">
                        <img class="hover" width="130" src="img/logos/company5.jpg" alt="image description">
                    </a>
                </div>
                <div class="partner">
                    <a href="#">
                        <img width="130" src="~/Content/NaturalLife/img/logos/company6.jpg" alt="image description">
                        <img class="hover" width="130" src="img/logos/company6.jpg" alt="image description">
                    </a>
                </div>
            </div>
        </div>
    </article>
</main>

